nav {
	font-family: "Marker Felt"
}
nav.olive a:visited {
	color: olive;
}

nav.olive a:link {
	color: olive;
}

nav.olive a:hover {
	color: olive;
}
img {
	margin-left: 600px
	margin-top: 400px;
}
.red {
	color: red;
}
.grey {
	color: grey;
	margin-bottom: 600px 
}


h1 {
    font-family: "Apple Chancery", Times, serif;
}
ol {
	font-family: "HERCULANUM"
}